/CS/DES/bin
/CS/DES/obj
/CS/DES.VisualVid/obj
/CS/DES.VisualVid/bin
/CS/DES.VisualVid.Process/obj
/CS/VisualVid.Database/obj
/CS/VisualVid.Database/bin
/CS/VisualVid.Database/VisualVid.Database.sqlproj.user
/CS/VisualVidCS.v11.suo
