<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Email_Subject" value="VisualVid: Your video is now posted - "/>
		<add key="Email_Subject_Failed" value="VisualVid: Your video format is not supported - "/>
		<add key="Email_Video_Link" value="http://visualvid.s2.softrigger.com.ph/Watch.aspx?VideoId="/>
		<add key="Email_Body" value="&lt;font face=&quot;Tahoma&quot; size=&quot;2&quot;&gt;&lt;p&gt;Dear&amp;nbsp;&lt;strong&gt;{0}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Thank you for submitting your video to VisualVid. Your video is now posted at the VisualVid website, you can view it by clicking the link or by copying the address and paste it in your browser.&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;Click or copy the link below into your browser to view your video:&lt;br /&gt;&lt;a href=&quot;{1}&quot; title=&quot;Click here to view your video&quot;&gt;{1}&lt;/a&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The VisualVid Team&lt;/strong&gt;&lt;br /&gt;&lt;a title=&quot;visit VisualVid.com&quot; href=&quot;{2}&quot;&gt;{2}&lt;/a&gt;&lt;/p&gt;&lt;/font&gt;"/>
		<add key="Email_Body_Failed" value="&lt;font face=&quot;Tahoma&quot; size=&quot;2&quot;&gt;&lt;p&gt;Dear&amp;nbsp;&lt;strong&gt;{0}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Thank you for submitting your video to VisualVid. Sorry, your video was not encoded successfully due to its format. Please try uploading your video in the recommended format.&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The VisualVid Team&lt;/strong&gt;&lt;br /&gt;&lt;a title=&quot;visit VisualVid.com&quot; href=&quot;{1}&quot;&gt;{1}&lt;/a&gt;&lt;/p&gt;&lt;/font&gt;"/>
		<add key="VisualVid_Home" value="http://visualvid.s2.softrigger.com.ph"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=achilles\sql2k;Initial Catalog=VisualVid;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="daniel@softrigger.com">
				<network host="s1.softrigger.com" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
