<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="System.WebName" value="VisualVid" />
		<add key="System.MaxVideoSize" value="100" />
		<add key="Email_Reg_Body" value="&lt;span style=&quot;font-family:Tahoma;font-size:10pt&quot;&gt;Username: &lt;% Username %&gt;&lt;br /&gt;Password: &lt;% Password %&gt;&lt;br /&gt;&lt;br /&gt;&lt;a href=&quot;http://www.visualvid.com/Confirm.aspx?User=&lt;% Username %&gt;&amp;ConfirmCode=&lt;% ConfirmCode %&gt;&quot;&gt;Click here to activate your account&lt;/a&gt;&lt;/span&gt;" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DatabaseServer;Initial Catalog=VisualVid;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<pages styleSheetTheme="Default" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" />
		</authentication>
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider" />
				<add connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</membership>
		<roleManager enabled="true">
			<providers>
				<remove name="AspNetSqlRoleProvider" />
				<add connectionStringName="ConnectionString" applicationName="/"
				 name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<sessionState timeout="120" />
		<compilation debug="false" defaultLanguage="vb">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
			<authentication mode="Windows"/>
        -->

		<customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />
		<!--
		<customErrors mode="On" defaultRedirect="Error.aspx" />
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

		<httpRuntime executionTimeout="3600" maxRequestLength="524288" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="Customer_Service@VisualVid.com">
				<network host="mail.visualvid.com" password="" userName="" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>